/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main h1 {
    text-align: center;
}

.todo-list {
    list-style-type: none;
}

.form-input {
    width: 300px;
    padding-right: 30px;
}

.list-element {
    min-width: 300px;
}
